<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% if title %}{{ title }} {%else%} Selamat Datang {%endif%}</title>
    {% include 'loader/_style.html' %}
</head>

<body id="page-top">
    {% include 'loader/_navbar.html' %}
    <div id="wrapper">
        <!-- Sidebar -->
        {% include 'loader/_sidebar.html' %}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Overview</li>
                </ol>
                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Tabel Produk
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Category</th>
                                        <th>No. Handphone</th>
                                        <th>Messages</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for contacts in contact %}
                                    <tr>
                                        <td>{{ contacts.id }}</td>
                                        <td>{{ contacts.name }}</td>
                                        <td>{{ contacts.email }}</td>
                                        <td>{{ contacts.category }}</td>
                                        <td>+{{ contacts.code }} {{ contacts.telp }} <a target="_blank"
                                                href="https://wa.me/{{ contacts.code }}{{ contacts.telp }}">WA</a></td>
                                        <td>{{ contacts.messages }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            {% include 'loader/_footer.html' %}
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% include 'loader/_modal.html' %}
    {% include 'loader/_js.html' %}
</body>

</html>