{% block body %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Nomor</th>
            <th>Alamat</th>
            <th>Deskripsi</th>
        </tr>
    </thead>
    <tbody>
        {% for deskripsi in deskripsi %}
        <tr>
            <th scope="row">{{ deskripsi.id }}</th>
            <td>{{ deskripsi.email }}</td>
            <td>{{ deskripsi.telp }}</td>
            <td>{{ deskripsi.address }}</td>
            <td>{{ deskripsi.deskripsi }}</td>
            <td><a class="button" href="{{ url_for('admin.edit_deskripsi', id=deskripsi.id) }}">Edit</a></td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}