<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>permission</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.namarole }}</td>
                    <td>{{ user.permission}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>