<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% if title %}{{ title }} {%else%} Selamat Datang {%endif%}</title>
    {% include 'loader/_style.html' %}
</head>

<body id="page-top">
    {% include 'loader/_navbar.html' %}
    <div id="wrapper">
        <!-- Sidebar -->
        {% include 'loader/_sidebar.html' %}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">Products</li>
                    <li class="breadcrumb-item active">List Products</li>
                </ol>
                <!-- DataTables Example -->
                {% include 'loader/_flash_success.html' %}
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Products Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Package Name</th>
                                        <th scope="col">Category</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <th scope="row">{{ product.id }}</th>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.category }}</td>
                                        <td>{{ product.content | striptags }}</td>
                                        <td><img src=" {{ url_for('admin.static', filename='uploads/images/'+ product.filename_images ) }}"
                                                alt="{{ product.filename_images }}" width="200px"></td>
                                        <td>
                                            <a class="button"
                                                href="{{ url_for('admin.product_update', id=product.id, slug=product.slug) }}">
                                                Edit
                                            </a>
                                            |
                                            <a href="{{ url_for('admin.delete_product', id=product.id) }}"
                                                class="button">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
            {% include 'loader/_footer.html' %}
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% include 'loader/_modal.html' %}
    {% include 'loader/_js.html' %}
</body>

</html>