<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% if title %}{{ title }} {%else%} Selamat Datang {%endif%}</title>
    {% include 'loader/_style.html' %}
</head>

<body id="page-top">
    {% include 'loader/_navbar.html' %}
    <div id="wrapper">
        <!-- Sidebar -->
        {% include 'loader/_sidebar.html' %}
        <div id="content-wrapper">
            <div class="container-fluid">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">Products</li>
                    <li class="breadcrumb-item active">Create a New Product</li>
                </ol>
                <div class="card mb-3">
                    <div class="card-header">Create Product Form</div>
                    <div class="card-body">
                        <form action="" enctype="multipart/form-data" method="POST">
                            {{ form.csrf_token() }}
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            {{ form.title(type="text", id="namaProduk", class="form-control", placeholder="Nama Produk", required="required", autofocus="autofocus")}}
                                            <label for="namaProduk">Nama Produk</label>
                                            {% for error in form.title.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-label-group">
                                            {{ form.price(id="hargaProduk", class="form-control", placeholder="Harga Produk")}}
                                            <label for="hargaProduk">Harga Produk</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-label-group">
                                            {{ form.category(class="custom-select", placeholder="Kategori", required="required")}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                {{ form.filename_images(class="custom-file-input", id="inputGroupFile04", accept="image/*")}}
                                                <label class="custom-file-label"
                                                    for="inputGroupFile04">{{ form.filename_images.label()}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                {{ form.file(class="custom-file-input", id="inputGroupFile05", accept="application/pdf")}}
                                                <label class="custom-file-label"
                                                    for="inputGroupFile05">{{ form.filename_images.label()}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    {{ ckeditor.config(name='content')}}
                                    {{ ckeditor.load(pkg_type='basic')}}
                                    {{ form.content(class="form-control", placeholder="Tentang Produk", required="required", rows="10")}}
                                </div>
                            </div>
                            {{ form.submit(class="btn btn-primary btn-block") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    {% include 'loader/_modal.html' %}
    {% include 'loader/_js.html' %}
</body>

</html>