    <link href="{{ url_for('admin.static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{{ url_for('admin.static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('admin.static', filename='css/sb-admin.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('admin.static', filename='images/favicon.ico') }}">