<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% if title %}{{ title }} {%else%} Selamat Datang {%endif%}</title>
  {% include 'loader/_style.html' %}
</head>

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form action="" method="POST">
          {{ form.csrf_token() }}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-label-group">
                  {{ form.username(type="text", id="firstName", class="form-control", placeholder="Username", required="required",
                  autofocus="autofocus")}}
                  <label for="firstName">Username</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              {{ form.email(type="email", id="inputEmail", class="form-control", placeholder="Email address", required="required")}}
              <label for="inputEmail">Email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  {{ form.password(type="password", id="inputPassword", class="form-control", placeholder="Password",
                  required="required")}}
                  <label for="inputPassword">Password</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  {{ form.password2(type="password", id="confirmPassword", class="form-control", placeholder="Confirm password",
                  required="required")}}
                  <label for="confirmPassword">Confirm password</label>
                </div>
              </div>
            </div>
          </div>
          {{ form.submit(class="btn btn-primary btn-block")}}
        </form>
      </div>
    </div>
  </div>
  {% include 'loader/_js.html' %}
</body>

</html>